{% extends 'app/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block banner-slider %}
<div class="parallax-banner">
    <div class="text-center">
        <h1 class="display-4 fw-bold" data-aos="fade-down">Bienvenido a Minio Tecs</h1>
        <p class="fs-4" data-aos="fade-up" data-aos-delay="200">Tu destino online para moda y estilo único</p>
     <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'app/images/banner/bn1.png'%}" class="d-block w-100" alt="Banner img">
        </div>
        <div class="carousel-item">
            <img src="{% static 'app/images/banner/bn2.png'%}" class="d-block w-100" alt="Banner img">
        </div>
        <div class="carousel-item">
            <img src="{% static 'app/images/banner/bn3.png'%}" class="d-block w-100" alt="Banner img">
        </div>
        <div class="carousel-item">
            <img src="{% static 'app/images/banner/bn4.png'%}" class="d-block w-100" alt="Banner img">
        </div>
    </div>

    <!-- Botones de navegación -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>   
</div>
{% endblock %}

{% block information %}
<div class="container mx-auto mt-8 rounded-lg shadow-lg p-6 text-center">
  <h1 class="text-3xl font-bold mb-3 card-toggle">Minino Tecs</h1>
  <p class="text-lg md:text-xl max-w-3xl mx-auto card-toggle">
    Somos un ecommerce que ofrece productos de moda como zapatos, camisas, pantalones y más.
    Trabajamos con marcas reconocidas como <span class="font-semibold card-toggle">Adidas, Nike, Puma</span> y también marcas independientes.
  </p>
</div>
{% endblock %}

{% block main-content %}
<div class="container mx-auto mt-10">
  <h2 class="text-2xl font-bold text-center mb-8 card-toggle">Productos del día</h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6 ">
    {% for producto in productos %}
    <div class="rounded-lg shadow-lg p-4 text-center 
                transform transition duration-300 hover:scale-105 hover:shadow-xl">
      <a href="{% url 'categoria' producto.url %}">
        <img src="{% static 'app/images/product/'|add:producto.img %}" alt="{{ producto.nombre }}" class="mx-auto mb-4 h-40 object-contain card-toggle">
        <p class="text-lg font-semibold card-toggle">{{ producto.nombre }}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}