{%extends 'app/base.html' %}
{% load static %}
{% block title %}Contraseña guardada{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Bienvenido {{ request.user.username|capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'address' %}" class="btn btn-primary">Contraseña cambiada correctamente</a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h1>Contraseña cambiada correctamente</h1>
        </div>
        <div>
        <iframe src="https://th.bing.com/th/id/R.42fe219d640e5f6491d62db54dfaeaca?rik=G9QtPAuX%2fccyag&riu=http%3a%2f%2fpa1.narvii.com%2f6290%2fb1a15de406b35fdc2e852a42f12b2944d6abadee_00.gif&ehk=HgTDNz%2bQY8ke0loTyVR9R2KPfEMapwngEH03SIhC8Iw%3d&risl=&pid=ImgRaw&r=0" frameborder="0" width="175" height="175" class="giphy-embed" allowfullscreen></iframe>
       </div>
    </div>
</div>

{% endblock main-content %}